<app-header></app-header>

<div class="password-reset-wrapper">
  <div class="password-reset-container">
    <h2>Reset Password</h2>

    <form (ngSubmit)="onResetPassword()">
      <div class="input-group">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required />
      </div>

      <button type="submit" class="reset-btn">Send Reset Link</button>

      <div class="back-to-login">
        <a [routerLink]="['/login']">Back to Login</a>
      </div>
    </form>
  </div>
</div>
